version: 1
formatters:
  simple:
    format: "%(asctime)s | %(name)-15s | %(funcName)-15s | %(levelname)-8s | %(message)s"
    datefmt: "%Y-%m-%dT%H:%M:%S"
handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: simple
    stream: ext://sys.stdout
loggers:
  app:
    level: INFO
    handlers: [console]
    propagate: false
  rag:
    level: INFO
    handlers: [console]
    propagate: false
  base:
    level: INFO
    handlers: [console]
    propagate: false
root:
  level: INFO
  handlers: [console]
